In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer/breast-cancer.data',
               names=['class','age','menopause','tumor-size','inv-nodes',
                     'node-caps','deg-malig','breast','breast-quad','irradiat'])

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   class        286 non-null    object
 1   age          286 non-null    object
 2   menopause    286 non-null    object
 3   tumor-size   286 non-null    object
 4   inv-nodes    286 non-null    object
 5   node-caps    286 non-null    object
 6   deg-malig    286 non-null    int64
 7   breast       286 non-null    object
 8   breast-quad  286 non-null    object
 9   irradiat     286 non-null    object
dtypes: int64(1), object(9)
memory usage: 22.5+ KB

In [4]:
df.head()

,class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no

In [5]:
df.isnull().sum()

class          0
age            0
menopause      0
tumor-size     0
inv-nodes      0
node-caps      0
deg-malig      0
breast         0
breast-quad    0
irradiat       0
dtype: int64

In [6]:
df['class'].nunique()

2

In [7]:
df['class'].unique()

array(['no-recurrence-events', 'recurrence-events'], dtype=object)

In [8]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['class']=le.fit_transform(df['class'])
df.head()

,class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,0,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,0,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,0,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,0,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,0,40-49,premeno,0-4,0-2,no,2,right,right_low,no

In [9]:
df.head()

,class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,0,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,0,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,0,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,0,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,0,40-49,premeno,0-4,0-2,no,2,right,right_low,no

In [10]:
df['age'].unique()

array(['30-39', '40-49', '60-69', '50-59', '70-79', '20-29'], dtype=object)

In [11]:
df['age'].value_counts()

50-59    96
40-49    90
60-69    57
30-39    36
70-79     6
20-29     1
Name: age, dtype: int64

In [12]:
di2 = {'50-59': 1, '40-49': 2, '60-69': 3,'30-39': 4, '70-79':5,'20-29':5}
df.replace({"age": di2})

,class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,0,4,premeno,30-34,0-2,no,3,left,left_low,no
1,0,2,premeno,20-24,0-2,no,2,right,right_up,no
2,0,2,premeno,20-24,0-2,no,2,left,left_low,no
3,0,3,ge40,15-19,0-2,no,2,right,left_up,no
4,0,2,premeno,0-4,0-2,no,2,right,right_low,no
...,...,...,...,...,...,...,...,...,...,...
281,1,4,premeno,30-34,0-2,no,2,left,left_up,no
282,1,4,premeno,20-24,0-2,no,3,left,left_up,yes
283,1,3,ge40,20-24,0-2,no,1,right,left_up,no
284,1,2,ge40,30-34,3-5,no,3,left,left_low,no
285,1,1,ge40,30-34,3-5,no,3,left,left_low,no

In [13]:
df['menopause']=le.fit_transform(df['menopause'])
df.head()

,class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,0,30-39,2,30-34,0-2,no,3,left,left_low,no
1,0,40-49,2,20-24,0-2,no,2,right,right_up,no
2,0,40-49,2,20-24,0-2,no,2,left,left_low,no
3,0,60-69,0,15-19,0-2,no,2,right,left_up,no
4,0,40-49,2,0-4,0-2,no,2,right,right_low,no

In [14]:
df['menopause'].unique()

array([2, 0, 1])

In [15]:
df['tumor-size'].unique()

array(['30-34', '20-24', '15-19', '0-4', '25-29', '50-54', '10-14',
       '40-44', '35-39', '5-9', '45-49'], dtype=object)

In [16]:
import numpy as np
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
corr=df.corr()
fig, ax=plt.subplots(figsize=(5,4))
sns.heatmap(corr,annot=True,ax=ax,cmap="coolwarm")

In [ ]:
df['tumor-size']=le.fit_transform(df['tumor-size'])
df.head()

In [ ]:
df['inv-nodes']=le.fit_transform(df['inv-nodes'])
df.head()

In [ ]:
df['inv-nodes'].unique()

In [ ]:
df['node-caps']=le.fit_transform(df['node-caps'])
df.head()

In [ ]:
df['breast']=le.fit_transform(df['breast'])
df['breast-quad']=le.fit_transform(df['breast-quad'])
df['irradiat']=le.fit_transform(df['irradiat'])
df.head()

In [ ]:
df['age']=le.fit_transform(df['age'])

In [ ]:
df.head()

In [ ]:
X=df.drop(columns=['class'])
y=df['class']

In [ ]:
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.30)

In [ ]:
X.head()

In [ ]:
y.head()

In [ ]:
from sklearn .ensemble import RandomForestClassifier;

In [ ]:
clf=RandomForestClassifier(n_estimators=100)
clf.fit(x_train,y_train)
y_pred_random_forest=clf.predict(x_test)
acc_random_forest=round(clf.score(x_train,y_train)*100,2)
print('Accuracy is ',acc_random_forest,"%")